* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    padding: 10px 20px;
}
.navbar li {
    font-size: 1rem;
}

footer {
    min-width: 100vw;
    position: fixed;
    bottom: 0;
}